services:
  db:
    image: postgres:17-alpine
    container_name: zaman_db
    restart: always
    env_file: .env
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U zaman_admin"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: zaman_backend
    restart: always
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
          # Use 'sync+restart' if your Python app doesn't have an internal reloader
          # action: sync+restart 
        - action: rebuild
          path: ./backend/requirements.txt


  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    container_name: zaman_frontend
    restart: always
    depends_on:
      - backend
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /app
          ignore:
            - node_modules/
        - action: rebuild
          path: ./frontend/package.json

  nginx:
    image: nginx:alpine
    container_name: zaman_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d:ro
    depends_on:
      - frontend
      - backend